---
layout: default
---
<section class="center banner challenges">
        <h1>Fat Man Challenges</h1>
        <p>We have quaterly and annual challenges.  The big one for the year is the 1000km 2017 challenge.  We also have the Angkor Wat Half Marathon coming up and RED - Run Every Day December!</p>
        <div class="logo">
        <img src="images/sddd.jpg" alt="my logo" />
        </div>
</section>
<section class="grid next-challenges-detail">
    <h2 class="col-12">On the Go Now</h2>
    {% for challenges in site.challenges %}
      {% include challenge-preview-featured.html %}
    {% endfor %}
</section>
<section>
  <h2>Fat Man Events</h2>
    {% for challenge in site.challenges %}
      <a href="{{ challenges.url }}">
        {{ challenge.title }} - {{ challenge.eventtime }}
      </a>
    {% endfor %}
  <div class="grid events-detail">
    {% for events in site.events %}
      {% include event-preview-done.html %}
    {% endfor %}
    </div>
</section>
<section class="leaderboard">
  <h2>Fat Man Leaderboard</h2>
    <div class="grid">
        <div class="col-1">
          <img src="images/1st.png" alt="First" />
        </div>
        <div class="col-1">
          <img src="images/fatmen/murraysteele.jpg" />
        </div>
        <div class="col-8">
          <p>Weekly distance covered = 20km </p>
          <p>Annual distance too date = 800km </p>
        </div>
    </div>
    <div class="grid">
        <div class="col-1">
          <img src="images/2nd.jpg" />
        </div>
        <div class="col-1">
          <img src="images/fatmen/nicktwigg.jpg" />
        </div>
        <div class="col-8">
          <p>Weekly distance covered = 18km </p>
          <p>Annual distance too date = 750km </p>
        </div>
    </div>
    <div class="grid">
        <div class="col-1">
          <img src="images/sillycock2.jpg" />
        </div>
        <div class="col-1">
          <img src="images/fatmen/lukeboyle.jpg" />
        </div>
        <div class="col-8">
          <p>Weekly distance covered = 20km </p>
          <p>Annual distance too date = 600km </p>
        </div>
    </div>
    <a href="https://www.strava.com/clubs/fatmen">Go To The FatMan Strava Club></a>
</section>
{% include meet-fatmen.html %}
