---
layout: default
---
<section class="center banner challenges">
    <img src="images/sddd.jpg" alt="my logo" />
        <h1>Fat Man Challenges</h1>
        <p>We have quaterly and annual challenges.  The big one for the year is the 1000km 2017 challenge.  We also have the Angkor Wat Half Marathon coming up and RED - Run Every Day December!</p>
</section>
<section class="grid next-challenges-detail">
    <h2 class="col-12">On the Go Now</h2>
    {% for challenges in site.challenges %}
    <div class="col-6 now">
      <div class="center" style="background-image:url('/images/1000km/{{challenges.banner-image}}')">
        <img src="images/1000km/{{challenges.image}}" />
      </div>
        <h3>{{ challenges.title }}</h3>
        <h4>{{ challenges.subtitle }}</h4>
        <p>{{ challenges.eventtime }}</p>
        <p>{{ challenges.content }}</p>
    </div>
    {% endfor %}
</section>
<section>
  <h2>Fat Man Events</h2>
    {% for challenge in site.challenges %}
      <a href="{{ challenges.url }}">
        {{ challenge.title }} - {{ challenge.eventtime }}
      </a>
    {% endfor %}
  <div class="grid events-detail">
    {% for events in site.events %}
      <div class="col-3">
        <div class="center" style="background-image:url('/images/penang-bridge/{{events.banner-image}}')">
          <img src="images/penang-bridge/{{events.image}}" />
        </div>
          <h3>{{ events.title }}</h3>
          <h4>{{ events.subtitle }}</h4>
          <p>{{ events.eventtime }}</p>
          <p>{{ events.content }}</p>
    </div>
    {% endfor %}
    </div>
</section>
<section class="leaderboard">
  <h2>Fat Man Leaderboard</h2>
    <div class="grid">

        <div class="col-1">
          <img src="images/1st.png" alt="First" />
        </div>
        <div class="col-1">
          <img src="images/fatmen/murraysteele.jpg" />
        </div>
        <div class="col-8">
          <p>Weekly distance covered = 20km </p>
          <p>Annual distance too date = 800km </p>
        </div>
    </div>
    <div class="grid">
        <div class="col-1">
          <img src="images/2nd.jpg" />
        </div>
        <div class="col-1">
          <img src="images/fatmen/nicktwigg.jpg" />
        </div>
        <div class="col-8">
          <p>Weekly distance covered = 18km </p>
          <p>Annual distance too date = 750km </p>
        </div>
    </div>
    <div class="grid">
        <div class="col-1">
          <img src="images/sillycock2.jpg" />
        </div>
        <div class="col-1">
          <img src="images/fatmen/lukeboyle.jpg" />
        </div>
        <div class="col-8">
          <p>Weekly distance covered = 20km </p>
          <p>Annual distance too date = 600km </p>
        </div>
    </div>
    <a href="https://www.strava.com/clubs/fatmen">Go To The FatMan Strava Club></a>
</section>
{% include meet-fatmen.html %}
