---
layout: default
---


<section id="gallery">
    <h2>Fat Man Gallery</h2>
    <h3>{{gallery.title}}</h3>
    <div class="grid">
        <div class="col-3 gallery-thumb" style="background-image:url({{' gallery.images/1000km/'}})">
        </div>
        <div class="col-3 gallery-thumb" style="background-image:url({{' gallery.images/penang-bridge/'}})">
        </div>
        <div class="col-3 gallery-thumb" style="background-image:url({{' gallery.images/classics/'}})">
        </div>
    </div>
